@charset "UTF-8";

/* 
---------------------------------------------
scroll custom
--------------------------------------------- 
*/

/* 가로 스크롤 */
.co .scroll-custom::-webkit-scrollbar {
    height: 5px;  /* scrollbar 너비 */
}
.co .scroll-custom::-webkit-scrollbar-thumb {
    /* width: 10%; */ /* scrollbar 길이 */
    background: #b2bfc2; /* scrollbar 색상 */
    border-radius: 10px;
}
.co .scroll-custom::-webkit-scrollbar-track {
    background: #e4e4eb;  /*scrollbar 뒷 배경 색상*/
    border-radius: 10px;
}

/* 세로 스크롤 */
.co .scroll-y-custom::-webkit-scrollbar {
    width: 8px;  /* scrollbar 너비 */
}
.co .scroll-y-custom::-webkit-scrollbar-thumb {
    height: 10%;  /* scrollbar 길이 */
    background: #b2bfc2; /* scrollbar 색상 */
    border-radius: 10px;
}
.co .scroll-y-custom::-webkit-scrollbar-track {
    background: #e4e4eb;  /*scrollbar 뒷 배경 색상*/
    border-radius: 10px;
}



/* 
---------------------------------------------

--------------------------------------------- 
*/

.co #co-main .post {
	/* padding: 1em 3em; */
	border-radius: 10px;
	width: 100%;
}
.co #co-main .post>#post-form,
.co #co-main .post>#post-form a.author *{
	cursor: pointer;
}
.co #co-main{
	margin: 250px auto; !import
}
.co #co-main .title{
	position: static !important;
}
.co .header {
	height: 55px;
	position: relative;
}
.co .meta{
	border-left: 0;
	/* padding: 1.5em 0 0 1em; */
}
.co .author{
	float: left;
	padding-left:0;
	font-size:20px;
	border:none;
}
.co .author>img{
	width: 1.5em;
}
.co .name{
	margin-left:10px;
}
.co #co-main .published {
    float: right;
    text-align:right;
    border:none;
    margin-top: 0 !important;
    /* margin-top: -7px; */
}
.published:focus-visible, .author:focus-visible{
	outline:none;
}
.co #co-main button{
	background-color: #e4e4eb;
	border-radius:5px;
	font-size:13px;
	border:0;
	height:30px;
	text-align: center;
	line-height: 0;
	padding: 0 1.2em;
}

.co #main button{
	background-color: #e4e4eb;
	border-radius:5px;
	font-size:13px;
	border:0;
	height:30px;
	text-align: center;
	padding:10px;
	margin-left: 30px;
}
.co #main .like{
	float: right;
}
.co #co-main .submitpost{
	display:none;	
	margin-bottom:10px;
}
.co #co-main .submitbutton{
	display:none;
	position: absolute;
	right: 77px;
	bottom: 10px;
}
.co #co-main .inserticon{
	position: absolute;
	right:14px;
	bottom: 17px;
	box-shadow:none;
	background:none;
}
.co .submiticon{
	position: absolute;
	right:0;
	bottom: 17px;
	box-shadow:none !important;
	background:none !important;
}
.co #co-main .divtextarea{
	margin:20px 5px 15px 5px; 
	display:none;
}
.co #co-main #co-textarea{
	display:block; 
	margin-left:-12px;
	margin-top: 20px;
}
.co .published{
	float: right; 
	margin-top:-7px;
}
.co .content{
	margin:20px;
}
.co .image>img{
	margin-bottom:20px;
	width:100%;
}

.co footer{
	background-color: #fff; 
	margin:40px 0;
}
.co .footer{
	background-color: #fff; 
	margin-top:0;
}
.co+#st-main+footer{
	clear: both;
}
.co #co-main .row{
	margin:15px 0 10px -12px;
}
.co #co-main .comments{
	 flex-direction: column;
}
.co #co-main .divcomment{
	display: none; 
	/* margin:0 10px 20px 10px; */
}
.co #main .divcomment, .ulcommentList{
	display: none; 
}
.co textarea{
	resize: none; 
	border: 1px solid #e4e4eb; 
	height:59px; 
}
.co textarea:hover{
	border: 1px bold #586579;
}

.co #co-main .divtextarea{
	display:inline-block; 
	padding:0;
}

.co #co-main textarea+button{
	float: right;
	bottom:30px;
}
.co .divname{
	width:50px; 
	display: inline-block;
}
.co .divcontent{
	width:200px; 
	display: inline-block;
}
.co #co-main .divtext{
	margin:0 10px 20px 10px;
}

.co input[type=file]{
	font-size:14px;
	/*border: 1px solid #586579;*/
}
.co .thumb-preview{
	margin:15px 0;
}
.co #p_id{
	border:1px solid #e4e4eb;
	margin:10px 0 0 -12px;
}
.co .co-post-margin{
	margin:0 auto;
}
.co #user_id{
	display: none;
}
.co .comment-input{
	display: none;
	margin : 10px 30px;
}

.co .comment-list>li{
	border-bottom: 1px solid rgba(178, 191, 194, 0.7);
	padding : 0 30px 8px 0;
	margin-bottom: 25px;
}

.co .delete-post{
	float: right;
	margin-right: 30px;
}
.co .comment-name{
	margin-left:15px;
	display: inline-block;
}
.co .comment-content{
	margin-top: 5px;
}
.co .comment-date{
	display: inline-block;
	float:right;
	text-align: right;
	margin-left: 20px;
}
.co .click-post{
	padding-top:5px;  
}
.co .commment_stats>li{
	display: inline-block;
	margin: 0 5px;
}
.co .commment_stats{
	margin-right:50px;
}
.co .comment-section{
	padding-top: 50px;
}
.co .postlist-button{
	margin: 30px 0 0 30px;
}
.co .delete-comment{
	float: right;
	position: relative;
	bottom: 30px;
	height: 25px; 
	font-size: 11px;
}

/* 
---------------------------------------------
sidebar
--------------------------------------------- 
*/


.co #co-main #sidebar *{
	color: #2a2a2a;
}
.co #co-main #sidebar{
	position:static;
	display:inline-block;
	margin-right: 30px;
	border-right: 1px solid #e4e4eb;
	padding-right: 30px;
	padding-top: 20px;
	left: -310px;
	max-width: 350px;
	overflow-x: hidden;
	height: 100%;
	z-index: 1;
}
.co #co-main #sidebar .navbar{
	display: none;
}
.co #co-main #sidebar .sidebar-wrapper{
	background-color: #f2f2f600;
}
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list{
	padding: 0 0 0 20px;
	border-bottom: 1px solid #e4e4eb;
}
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list ul{
	margin-bottom: 20px;
}
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu{
	margin:10px 0;
} 
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu:nth-child(3){
	margin-bottom:23px;
} 
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu.active{
	font-weight: 600;
} 
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu a{
	font-size: 18px;
} 
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu:hover{
	margin-left: 10px;
}
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu:hover a{
	color: #b2bfc2 !important;
	font-weight: 600;
} 
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu .fa{
	margin-right: 10px;
	font-size: 10px;
} 
.co #co-main #sidebar .sidebar-wrapper #sidebar-search{
	width: 100%;
    height: max-content;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff0;
    background-clip: padding-box;
    border: 1px solid #e4e4eb;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    align-items: center;
    margin: 0 0 15px 0;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search>div{
	width: 100%;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search input{
	background-color: #fff0;
	border: none;
	padding: 0;
    margin-right: 5px;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search #co-search{
	display: none;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search .fa{
	font-size: 24px;
	display: inline-block;
	height: 100%;
	cursor: pointer;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search .fa:hover{
	color:#b2bfc2;
}
.co #co-main #sidebar .sidebar-wrapper .posts {
	list-style: none;
	padding: 0;
}
.co #co-main #sidebar .sidebar-wrapper .posts li {
	border-top: dotted 1px #e4e4eb;
	margin: 0;
	padding: 20px 10px;
	cursor: pointer;
}
.co #co-main #sidebar .sidebar-wrapper .posts li:first-child {
	border: none !important;
}
.co #co-main #sidebar .sidebar-wrapper .posts li:hover{
	background-color: #dce0e3;
}
.co #co-main #sidebar .sidebar-wrapper .divlist{
	width: 100%;
}
.co #co-main #sidebar .sidebar-wrapper .divimg{
	display: inline-block;
	min-width: 4em;
	width: 4em;
	height: 4em;
	border: 1px solid;
	border-radius: 50%;
	background-image: url('../../images/pic08.jpg');
	background-size: contain;
}
.co #co-main #sidebar .sidebar-wrapper .divimg+div{
	width: max-content;
}
.co #co-main #sidebar .sidebar-wrapper .lidiv{
	display: inline-block;
	font-size: 24px;
}

/* sidebar toggle */
.co #co-main #sidebar .navbar{
    position: absolute;
    z-index: -1;
    top: 250px;
    left: 15px;
    width: max-content;
}
.co #co-main #sidebar .navbar .navbar-toggler{
	background-color: #b2bfc2 !important;
    border: none !important;
    border-radius: 10px !important;
	box-shadow: none !important;
	width: 330px !important;
	text-align: right !important;
	height: 50px !important;
}
.co #co-main #sidebar .navbar .navbar-toggler i{
	font-size: 24px !important;
}
.co #co-main #sidebar .navbar .navbar-toggler:hover i{
	color: #dce0e3;
}

/* 사이드바 왼쪽으로 밀기 위한 전체적인 박스 수정 */
.co #co-main {
	/* display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex; */
	/* -moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse; */
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	margin: 0 auto;
	max-width: 100%;
	opacity: 1;
	padding: 50px; /* 4.5em; */
	width: 90em;
}
.co #co-main,
.co #co-main #main{
	width: 100%;
	margin:0 auto;
}
.co #co-main #main>div{
	width: 100%;
    margin: 0 auto;
    max-width: 800px;
}
	
/* 모바일화면 사이드바 */
@media (max-width:991px){
	.co #co-main #sidebar{
		position: fixed;
	    display: block;
	    top: 0;
	    height: 100%;
	    z-index: 1032 !important;
	    left: -310px;
	    overflow-y: auto;
	    padding: 0;
	    border: none;
	    max-width: 400px;
	    min-width: 400px;
	    transition: left ease 1s;
	}
	.co #co-main #sidebar .navbar{
		background-color: #fff0;
		display: block;
	}
	.co #co-main #sidebar .navbar:hover i{
		color: #fff;
	}
	.co #co-main #sidebar .sidebar-wrapper{
	    position: fixed;
	    display: block;
	    top: 0;
	    height: 100%;
	    width: 300px;
	    right: auto;
	    left: -310px;
	    margin: 0;
	    border-radius: 0;
	    visibility: visible;
	    overflow-y: auto;
	    padding: 30px 0 0 30px;
	    padding-right: 15px;
	    background-size: cover;
	    background-position: center center;
		background-color: #f2f2f6;
		transition: all ease 1s;
	}
	.co #co-main #sidebar.open,
	.co #co-main #sidebar .sidebar-wrapper.open{
	    left: 0px;
	}
	
	.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list{
		padding: 0;
	}
}


/* 
---------------------------------------------
co-main post
--------------------------------------------- 
*/
/* ---------------------정희 수정--------------------------- */

	.collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* 최대 줄 수 설정 */
    -webkit-box-orient: vertical;
    padding: 0 20px;
     }

	.post_img-outer {
	    text-align: center;
	 }
	
	.post_img {
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
  	}

  	.post_img:hover {
    transform: scale(1.05);
  	}
	
	.post_img img {
	    max-width: 100%;
	    height: auto;
	 }
	 
	 .post_img-outer {
	 	padding: 12px;
	 	clear: both;
	 }

	#post-content {
		text-align: left;
	} 

/* ---------------------정희 수정--------------------------- */