@charset "UTF-8";

/* 
---------------------------------------------
scroll custom
--------------------------------------------- 
*/

/* 가로 스크롤 */
.co .scroll-custom::-webkit-scrollbar {
    height: 5px;  /* scrollbar 너비 */
}
.co .scroll-custom::-webkit-scrollbar-thumb {
    /* width: 10%; */ /* scrollbar 길이 */
    background: #b2bfc2; /* scrollbar 색상 */
    border-radius: 10px;
}
.co .scroll-custom::-webkit-scrollbar-track {
    background: #e4e4eb;  /*scrollbar 뒷 배경 색상*/
    border-radius: 10px;
}

/* 세로 스크롤 */
.co .scroll-y-custom::-webkit-scrollbar {
    width: 8px;  /* scrollbar 너비 */
}
.co .scroll-y-custom::-webkit-scrollbar-thumb {
    height: 10%;  /* scrollbar 길이 */
    background: #b2bfc2; /* scrollbar 색상 */
    border-radius: 10px;
}
.co .scroll-y-custom::-webkit-scrollbar-track {
    background: #e4e4eb;  /*scrollbar 뒷 배경 색상*/
    border-radius: 10px;
}



/* 
---------------------------------------------

--------------------------------------------- 
*/

.co #co-main .post {
	padding: 1em 3em;
	border-radius: 10px;
}
.co #main{
	margin: 250px auto;
}
.co .header {
	border-bottom: solid 1px rgba(160, 160, 160, 0.3);
	height: 75px;
	position: relative;
}
.co .meta{
	border-left: 0;
	padding: 1.5em 0 0 1em;
}
.co .author{
	padding-left:0;
	font-size:20px;
}
.co .author>img{
	width: 1.5em;
}
.co .name{
	margin-left:10px;
}
.co #co-main button{
	background-color: #e4e4eb;
	border-radius:5px;
	font-size:13px;
	border:0;
	height:30px;
	text-align: center;
	line-height: 0;
	padding: 0 1.2em;
}
.co #main button{
	background-color: #e4e4eb;
	border-radius:5px;
	font-size:13px;
	border:0;
	height:30px;
	text-align: center;
	padding:10px;
}
.co #main .like{
	float: right;
}
.co #co-main .submitpost{
	display:none;	
}
.co #co-main .submitbutton{
	display:none;
	position: absolute;
	right: 77px;
	bottom: 10px;
}
.co #co-main .insertpost{
	position: absolute;
	right: 0;
	bottom: 10px;
}
.co #co-main .divtextarea{
	margin:20px 5px 15px 5px; 
	display:none;
}
.co #co-main #co-textarea{
	display:block; 
	margin-top: 20px;
}
.co .published{
	float: right; 
	margin-top:-7px;
}
.co .content{
	margin:20px;
}
.co .image>img{
	margin-bottom:20px;
	width:100%;
}

.co #co-main .footer{
	background-color: #fff; 
	margin:40px 0;
}
.co #main .footer{
	background-color: #fff; 
	margin-top:0;
}
.co+#st-main+footer{
	clear: both;
}
.co #co-main .row{
	margin-left: 0; 
	margin-bottom:20px;
}
.co #co-main .comments{
	 flex-direction: column;
}
.co #co-main .divcomment{
	display: none; 
	/* margin:0 10px 20px 10px; */
}
.co #main .divcomment, .ulcommentList{
	display: none; 
}
.co textarea{
	resize: none; 
	border: 1px solid #e4e4eb; 
	height:59px; 
}

.co #co-main .divtextarea{
	display:inline-block; 
	padding:0;
}

.co #co-main textarea+button{
	float: right;
	padding:0;
	margin : 15px 0;
}
.co .divname{
	width:50px; 
	display: inline-block;
}
.co .divcontent{
	width:200px; 
	display: inline-block;
}
.co #co-main .divtext{
	margin:0 10px 20px 10px;
}






/* 
---------------------------------------------
sidebar
--------------------------------------------- 
*/


.co #co-main #sidebar *{
	color: #2a2a2a;
}
.co #co-main #sidebar{
	position:static;
	display:inline-block;
	margin-right: 30px;
	border-right: 1px solid #e4e4eb;
	padding-right: 30px;
	padding-top: 20px;
	left: -310px;
	max-width: 350px;
	overflow-x: hidden;
	height: 100%;
}
.co #co-main #sidebar .navbar{
	display: none;
}
.co #co-main #sidebar .sidebar-wrapper{
	background-color: #f2f2f6;
	
}
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list{
	padding: 0 0 0 20px;
	border-bottom: 1px solid #e4e4eb;
}
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list ul{
	margin-bottom: 20px;
}
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu{
	margin:10px 0;
} 
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu.active{
	font-weight: 600;
} 
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu a{
	font-size: 18px;
} 
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu:hover{
	margin-left: 10px;
}
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu:hover a{
	color: #b2bfc2 !important;
	font-weight: 600;
} 
.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list .menu .fa{
	margin-right: 10px;
	font-size: 10px;
} 
.co #co-main #sidebar .sidebar-wrapper #sidebar-search{
	width: 100%;
    height: max-content;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff0;
    background-clip: padding-box;
    border: 1px solid #e4e4eb;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    align-items: center;
    margin: 0 0 15px 0;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search>div{
	width: 100%;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search input{
	background-color: #fff0;
	border: none;
	padding: 0;
    margin-right: 5px;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search #co-search{
	display: none;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search .fa{
	font-size: 24px;
	display: inline-block;
	height: 100%;
	cursor: pointer;
}
.co #co-main #sidebar .sidebar-wrapper #sidebar-search .fa:hover{
	color:#b8b8c4;
}
.co #co-main #sidebar .sidebar-wrapper .posts {
	list-style: none;
	padding: 0;
}
.co #co-main #sidebar .sidebar-wrapper .posts li {
	border-top: dotted 1px #e4e4eb;
	margin: 0;
	padding: 20px 10px;
	cursor: pointer;
}
.co #co-main #sidebar .sidebar-wrapper .posts li:first-child {
	border: none !important;
}
.co #co-main #sidebar .sidebar-wrapper .posts li:hover{
	background-color: #dce0e3;
}
.co #co-main #sidebar .sidebar-wrapper .divlist{
	width: 100%;
}
.co #co-main #sidebar .sidebar-wrapper .divimg{
	display: inline-block;
	min-width: 4em;
	width: 4em;
	height: 4em;
	border: 1px solid;
	border-radius: 50%;
	background-image: url('../../images/pic08.jpg');
	background-size: contain;
}
.co #co-main #sidebar .sidebar-wrapper .divimg+div{
	width: max-content;
}
.co #co-main #sidebar .sidebar-wrapper .lidiv{
	display: inline-block;
	font-size: 24px;
}

/* sidebar toggle */
.co #co-main #sidebar .navbar{
    position: absolute;
    z-index: -1;
    top: 250px;
    left: 15px;
    width: max-content;
}
.co #co-main #sidebar .navbar .navbar-toggler{
	background-color: #b2bfc2 !important;
    border: none !important;
    border-radius: 10px !important;
	box-shadow: none !important;
	width: 330px !important;
	text-align: right !important;
	height: 50px !important;
}
.co #co-main #sidebar .navbar .navbar-toggler i{
	font-size: 24px !important;
}
.co #co-main #sidebar .navbar .navbar-toggler:hover i{
	color: #dce0e3;
}

/* 사이드바 왼쪽으로 밀기 위한 전체적인 박스 수정 */
.co #co-main {
	/* display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex; */
	/* -moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse; */
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	margin: 0 auto;
	max-width: 100%;
	opacity: 1;
	padding: 50px; /* 4.5em; */
	width: 90em;
}
.co #co-main,
.co #co-main #main{
	width: 100%;
}
.co #co-main #main>div{
	width: 100%;
    margin: 0 auto;
    max-width: 800px;
}
	
/* 모바일화면 사이드바 */
@media (max-width:991px){
	.co #co-main #sidebar{
		position: fixed;
	    display: block;
	    top: 0;
	    height: 100%;
	    z-index: 1032;
	    left: -310px;
	    overflow-y: auto;
	    padding: 0;
	    border: none;
	    max-width: 400px;
	    min-width: 400px;
	    transition: left ease 1s;
	}
	.co #co-main #sidebar .navbar{
		background-color: #fff0;
		display: block;
	}
	.co #co-main #sidebar .navbar:hover i{
		color: #fff;
	}
	.co #co-main #sidebar .sidebar-wrapper{
	    position: fixed;
	    display: block;
	    top: 0;
	    height: 100%;
	    width: 300px;
	    right: auto;
	    left: -310px;
	    margin: 0;
	    border-radius: 0;
	    visibility: visible;
	    overflow-y: auto;
	    padding: 30px 0 0 30px;
	    padding-right: 15px;
	    background-size: cover;
	    background-position: center center;
	    /* box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 #b8b8c4; */
		transition: all ease 1s;
	}
	.co #co-main #sidebar.open,
	.co #co-main #sidebar .sidebar-wrapper.open{
	    left: 0px;
	}
	
	.co #co-main #sidebar .sidebar-wrapper .sidebar-post-list{
		padding: 0;
	}
}



