@charset "UTF-8";



/* 
---------------------------------------------
community-main
--------------------------------------------- 
*/


.co #co-main,
.co #co-post {
	transition: opacity 0.5s ease;
	max-width: 100%;
	opacity: 1;
}
@media (min-width:992px){
	.co #co-main,
	.co #co-post {
		padding: 50px;	
		margin: 200px auto 0;	
	}
	footer {
		text-align:center;
    		padding : 60px 0 30px 0;
  	}
}
@media (max-width:991px){
	.co #co-main,
	.co #co-post {
		padding: 30px;	
		margin: 200px auto 0;	
	}
	footer {
		text-align:center;
    		padding : 370px 0 30px 0;
  	}
}
@media (max-width: 767px) {	
	.co #co-main,
	.co #co-post {
		margin: 80px auto 0;
		padding: 15px;		
	}
	footer {
		text-align:center;
    		padding : 400px 0 30px 0;
  	}
}
@media (max-width:575px){
	.co #co-main,
	.co #co-post {
		margin: 80px auto 0;
		padding: 5px;		
	}
	footer {
    		padding : 435px 0 30px 0;
  	}
}
	
	
.co #co-main,
.co #co-post,
.co #co-main #main,
.co #co-post #main {
	width: 100%;
}
.co #co-main #main{
	margin-top: 0 !important;
}
.co #co-main #main>div{
	width: 100%;
    margin: 0 auto;
    max-width: 800px;
}




/* Button */

#co-main input[type="submit"],
#co-post input[type="submit"],
#co-main input[type="reset"],
#co-post input[type="reset"],
#co-main input[type="button"],
#co-post input[type="button"],
#co-main button,
#co-post button,
#co-main .button,
#co-post .button {
	appearance: none;
	transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
	background-color: transparent;
	border: 0;
	color: #2a2a2a;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 0.25em;
	padding: 0 2.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
} 

.co #co-main button,
.co #co-post button {
	background-color: #e4e4eb;
	border-radius: 2.5px;
	font-size: 14px;
	border: 0;
	height: 30px;
	text-align: center;
	padding: 0 8px;
/* 	line-height: 0; */
}
.co #co-main button:hover,
.co #co-post button:hover {
	background-color: #586579;
	color: #fff;
}
.co #co-main button:focus,
.co #co-post button:focus {
	border: none;
	outline: none;
}






/*  헤더   */

#header-back-color{
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	position: absolute;
    top: 0px;
    height: 100%;
    background: #f2f2f6;
}
#body-back-color{
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	position: absolute;
    top: 0px;
    height: 100%;
    background: #f2f2f6;
}




/*  pagination   */

.co .pagination {
	margin-top: 120px;
}

.co .pagination ul li a:hover, 
.co .pagination ul li.active a {
    background-color: transparent;
    color: #e97d7d;
    font-weight: bolder;
}





/* 
---------------------------------------------
scroll custom
--------------------------------------------- 
*/

/* 가로 스크롤 */
.co .scroll-custom::-webkit-scrollbar {
    height: 5px;  /* scrollbar 너비 */
}
.co .scroll-custom::-webkit-scrollbar-thumb {
    /* width: 10%; */ /* scrollbar 길이 */
    background: #b2bfc2; /* scrollbar 색상 */
    border-radius: 10px;
}
.co .scroll-custom::-webkit-scrollbar-track {
    background: #e4e4eb;  /*scrollbar 뒷 배경 색상*/
    border-radius: 10px;
}

/* 세로 스크롤 */
.co .scroll-y-custom::-webkit-scrollbar {
    width: 8px;  /* scrollbar 너비 */
}
.co .scroll-y-custom::-webkit-scrollbar-thumb {
    height: 10%;  /* scrollbar 길이 */
    background: #b2bfc2; /* scrollbar 색상 */
    border-radius: 10px;
}
.co .scroll-y-custom::-webkit-scrollbar-track {
    background: #e4e4eb;  /*scrollbar 뒷 배경 색상*/
    border-radius: 10px;
}





/* 
---------------------------------------------
post
--------------------------------------------- 
*/



/*  전체 박스  */

.co .post {
	/* width: 50em; */
	background: #fff;
	border: solid 1px #dce0e399;
	margin-bottom: 32px;
	position: relative;
	box-shadow: 5px 5px 8px #dce0e377;
}
@media (min-width:992px){
	.co .post {
		padding: 30px 36px;	
	}	
}
@media (max-width:991px){
	.co .post {
		padding: 30px 36px;
	}	
}
@media (max-width: 767px) {	
	.co .post {
		padding: 28px 36px;
	}
}
@media (max-width:575px){
	.co .post {
		padding: 20px 28px;
	}
}

.co #co-main .post,
.co #co-post .post {
	/* padding: 1em 3em; */
	border-radius: 10px;
	width: 100%;
}
.co #co-main .post>#post-form,
.co #co-main .post>#post-form a.author *{
	cursor: pointer;
}




/*  상단  */

.co .header {
	height: 42px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.co #co-main #inserticon {
	background: #fff;
	border: 0;
	outline: none;
	font-size: 18px;
	display: flex;
	align-items: center;
}
.co #co-main #inserticon:hover {
	color: #b8b8c4;
}

.co .author {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 20px;
}
.co .author img {
	border-radius: 50%;
	display: block;
	width: 48px;
	height: 48px;
}
.co .author .name{
	margin-left:18px;
	font-weight: bold;
	letter-spacing: 1px;
}


.co .published {
	display: flex;
	align-items: center;
   	color: #b8b8c4;
	font-size: 0.9rem;
}

/* 새글작성 박스만 높이 조절 */
.co .post-input .header {
	height: 36px;
}
@media (max-width: 767px) {	
	.co .post-input .header {
		height: 30px;
	}
}




/*  새 글 작성 textarea  */

.co textarea{
	resize: none; 
	border: 1px solid #e4e4eb; 
	height:59px; 
}
.co #co-main #co-textarea {
	display:block; 
	margin-top: 30px;
	width: 100%;
	border-radius: 2.5px;
}
.co #co-main #co-textarea:focus {
	border-color: #dce0e3;
	outline:0;
	box-shadow: 0 0 0 .2rem rgba(184,184,196,.15);
}

 


/*  새 글 작성 이미지첨부   */
.co input[type=file]{
	font-size:14px;
	/*border: 1px solid #586579;*/
	display: none;
}
.co .thumb-preview{
	margin:15px 0;
}
.co .thumb-title {
	color: #b8b8c4;
	margin-left: 8px;
}



/*  새 글 작성 등록버튼   */
.co #co-main .submitpost,
.co #co-post .submitpost{
	display:none;	
	margin-bottom:10px;
}
.co #co-main .submitpost .icons-container,
.co #co-post .submitpost .icons-container{
	margin-top: 5px;
}
.co #co-main .submitpost i,
.co #co-post .submitpost i{
	font-size: 22px;
	color: #b2bfc2;
	margin: 8px;
}
.co #co-main .submitpost i:hover,
.co #co-post .submitpost i:hover{
	color: #dce0e3;
	cursor: pointer;
}
.co .submiticon{
	box-shadow:none !important;
	background:none !important;
	padding: 0 !important;
}



/* 태그 관련  */
.co .tag-preview {
	font-size: 0.8rem;
	margin-left: 10px;
 	max-width: 240px;
	max-height: 1rem;
	flex-wrap: nowrap;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; 
	flex: 1 1 auto;
}
.co #co-main .tag-delete i {
	font-size: 0.8rem;
}
.co #co-main .tag-delete i:hover {
	color: #e97d7d;
}
.co #co-main .tag-delete {
	display: none;
}
.co #co-main .tag-delete.active {
	display: block;
}





/*  본문  */

.co .post-content-container {
   margin: 70px 0 60px;
   padding: 0 10px;	
   width: 100%;
}
.co #co-main .post-content-container:hover {
   cursor: pointer;
}
.co #co-post .post-content-container:hover {
   cursor: text;
}

.co .collapsed {
	width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* 최대 줄 수 설정 */
   -webkit-box-orient: vertical;
}

.co #post-content {
	width: 100%;
	text-align: left;
} 








/*  이미지  */

.co .img-container {
	margin-bottom: 36px;
	display: grid;
	justify-content: center;
	
	max-height: 720px;
	gap: 10px;
	grid-auto-flow: row;
}
.co .img-container img {
	width: 100%;
	object-fit: cover; 
}

.co .img-container.one {
	/* max-height: 720px; */
}
.co .img-container.two {
	grid-template-columns: repeat(2,1fr);
}
.co .img-container.three {
	grid-template-rows: repeat(2,1fr);
	grid-template-columns: repeat(2,1fr);
}
.co .img-container.four {
	grid-template-rows: repeat(2,1fr);
	grid-template-columns: repeat(2,1fr);
}

.co .img-card {
	overflow: hidden;
}

.co .img-card:hover {
	opacity: 0.7;
}







/*  하단 전체 박스  */

.co .post  .footer {
	width: 100%; 
	padding: 0 10px;
}




/*  댓글, 좋아요 아이콘 */

.co .post .footer .stats {
	display: flex; 
}
.co .stats li{
	margin-right: 30px;
	white-space: nowrap;
}
.co .stats .comment-icon,
.co .stats .like-icon,
.co .stats .tag-icon {
	margin-right: 7px;
	font-size: 18px;
	color: #b8b8c4;
}
.co .stats .comment-icon:hover,
.co .stats .like-icon:hover {
	color: #e4e4eb;
	cursor: pointer;
}

/*  태그    */
.co .stats .tag-product {
	font-size: 0.8rem;
	max-width: 240px;
	max-height: 1rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; 
}
.co .stats .tag:hover .tag-icon {
	color: #e4e4eb;
	cursor: pointer;
}
.co .stats .tag:hover .tag-product {
	color: #b8b8c4;
	cursor: pointer;
}




/*  댓글 목록   */
.co .comment-list {
	margin-top: 20px;
}

.co .comment-list>li{
	border-bottom: 1px solid #f2f2f6;
	padding: 8px 0;
}
.co .comment-top {
	width: 100%;
}
.co .comment-name{
	margin-left: 0;
	font-weight: bold;
	color: #b2bfc2;
	font-size: 1.1rem;
}
.co .comment-date {
	color: #b8b8c4;
	font-size: 0.8rem;
}
.co .comment-content{
	margin-top: 5px;
}
.co .comment-button {
	padding: 8px 0;
}
.co .comment-button:hover {
	color: #b8b8c4;
}
.co .comment-plus {
	font-size: 1.1rem;
}





/*  댓글 작성 폼   */
.co .comment-input{
	display: none;
	margin-top: 20px;
}
.co .comment-input form {
 	display: flex;
	align-items: center;
}
.co #comment-text {
	margin-right: 12px;
}
.co #comment-text:focus {
	box-shadow: 0 0 0 .2rem rgba(184,184,196,.15);
}
.co .comment-input #comment-submit-button {
   flex-shrink: 0;
   padding: 0;
   display: flex;
   align-items: center;
   background: none;
}
.co .comment-input #comment-submit-button:hover {
   background: none;
}
.co .comment-input .fa-paper-plane {
   font-size: 22px;
   color: #b2bfc2;
}
.co .comment-input .fa-paper-plane:hover {
   color: #dce0e3;
}




/*  글 삭제 버튼   */

.co .delete-post{
	margin-right: 10px;
}
.co .delete-post:hover {
	color: #b8b8c4;
}
.co .delete-post::after {
	content: "|";
	margin-left: 10px;
	color: #b8b8c4;
}


/*  댓글 삭제 버튼   */
.co .delete-comment{
	font-size: 0.9rem;
	margin-right: 10px;
}
.co .delete-comment:hover {
	color: #b8b8c4;
}
.co .delete-comment::after {
	content: "|";
	font-size: 0.9rem;
	margin-left: 10px;
	color: #b8b8c4;
}





/*   */

.co .postlist-button{
	margin: 30px 0 0 30px;
}





/* 
---------------------------------------------
sidebar
--------------------------------------------- 
*/


.co #sidebar *{
	color: #2a2a2a;
}
.co #sidebar{
	position:static;
	display:inline-block;
	margin-right: 30px;
	border-right: 1px solid #e4e4eb;
	padding-right: 30px;
	padding-top: 20px;
	left: -310px;
	max-width: 350px;
	overflow-x: hidden;
	/* height: 100%; */
	height: 100vh;
	z-index: 1;
}
.co #sidebar .navbar{
	display: none;
}
.co #sidebar .sidebar-wrapper{
	background-color: #f2f2f600;
}
.co #sidebar .sidebar-wrapper .sidebar-post-list{
	padding: 0 0 0 20px;
	border-bottom: 1px solid #e4e4eb;
}
.co #sidebar .sidebar-wrapper .sidebar-post-list ul{
	margin-bottom: 20px;
}
.co #sidebar .sidebar-wrapper .sidebar-post-list .menu{
	margin:10px 0;
} 
.co #sidebar .sidebar-wrapper .sidebar-post-list .menu:nth-child(3){
	margin-bottom:23px;
} 
.co #sidebar .sidebar-wrapper .sidebar-post-list .menu.active{
	font-weight: 600;
} 
.co #sidebar .sidebar-wrapper .sidebar-post-list .menu a{
	font-size: 18px;
} 
.co #sidebar .sidebar-wrapper .sidebar-post-list .menu:hover{
	margin-left: 10px;
}
.co #sidebar .sidebar-wrapper .sidebar-post-list .menu:hover a{
	color: #b2bfc2 !important;
	font-weight: 600;
} 
.co #sidebar .sidebar-wrapper .sidebar-post-list .menu .fa{
	margin-right: 10px;
	font-size: 10px;
} 
.co #sidebar .sidebar-wrapper #sidebar-search{
	width: 100%;
    height: max-content;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff0;
    background-clip: padding-box;
    border: 1px solid #e4e4eb;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    align-items: center;
    margin: 0 0 15px 0;
}
.co #sidebar .sidebar-wrapper #sidebar-search>div{
	width: 100%;
}
.co #sidebar .sidebar-wrapper #sidebar-search input{
	background-color: #fff0;
	border: none;
	padding: 0;
    margin-right: 5px;
}
.co #sidebar .sidebar-wrapper #sidebar-search #co-search{
	display: none;
}
.co #sidebar .sidebar-wrapper #sidebar-search .fa{
	font-size: 24px;
	display: inline-block;
	height: 100%;
	cursor: pointer;
}
.co #sidebar .sidebar-wrapper #sidebar-search .fa:hover{
	color:#b2bfc2;
}
.co #sidebar .sidebar-wrapper .posts {
	list-style: none;
	padding: 0;
}
.co #sidebar .sidebar-wrapper .posts li {
	border-top: dotted 1px #e4e4eb;
	margin: 0;
	padding: 20px 10px;
	cursor: pointer;
}
.co #sidebar .sidebar-wrapper .posts li:first-child {
	border: none !important;
}
.co #sidebar .sidebar-wrapper .posts li:hover{
	background-color: #dce0e3;
}
.co #sidebar .sidebar-wrapper .divlist{
	width: 100%;
}
.co #sidebar .sidebar-wrapper .divimg{
	display: inline-block;
	min-width: 4em;
	width: 4em;
	height: 4em;
	/* border: 1px solid; 
	border-radius: 50%;
	background-image: url('../../images/pic08.jpg');*/
	background-size: contain;
}
.co #sidebar .sidebar-wrapper .divimg+div{
	width: max-content;
}
.co #sidebar .sidebar-wrapper .divimg img{ 
	width: 100%;
	border-radius: 50%;
}
.co #sidebar .sidebar-wrapper .lidiv{
	display: inline-block;
	font-size: 24px;
}

/* sidebar toggle */
.co #sidebar .navbar{
    position: absolute;
    z-index: -1;
    top: 250px;
    left: 15px;
    width: max-content;
}
.co #sidebar .navbar .navbar-toggler{
	background-color: #b2bfc2 !important;
    border: none !important;
    border-radius: 10px !important;
	box-shadow: none !important;
	width: 330px !important;
	text-align: right !important;
	height: 50px !important;
	padding: 0 1.2em;
}
.co #sidebar .navbar .navbar-toggler i{
	font-size: 24px !important;
}
.co #sidebar .navbar .navbar-toggler:hover i{
	color: #dce0e3;
}


	
/* 모바일화면 사이드바 */
@media (max-width:991px){
	.co #sidebar{
		position: fixed;
	    display: block;
	    top: 0;
	    height: 100%;
	    z-index: 1032 !important;
	    left: -310px;
	    overflow-y: auto;
	    padding: 0;
	    border: none;
	    max-width: 400px;
	    min-width: 400px;
	    transition: left ease 1s;
	}
	.co #sidebar .navbar{
		background-color: #fff0;
		display: block;
	}
	.co #sidebar .navbar:hover i{
		color: #fff;
	}
	.co #sidebar .sidebar-wrapper{
	    position: fixed;
	    display: block;
	    top: 0;
	    height: 100%;
	    width: 300px;
	    right: auto;
	    left: -310px;
	    margin: 0;
	    border-radius: 0;
	    visibility: visible;
	    overflow-y: auto;
	    padding: 30px 0 0 30px;
	    padding-right: 15px;
	    background-size: cover;
	    background-position: center center;
		background-color: #f2f2f6;
		transition: all ease 1s;
	}
	.co #sidebar.open,
	.co #sidebar .sidebar-wrapper.open{
	    left: 0px;
	}
	
	.co #sidebar .sidebar-wrapper .sidebar-post-list{
		padding: 0;
	}
}







