@charset "UTF-8";
.co #co-main .post {
	padding: 1em 3em;
	border-radius: 10px;
}
.co #main{
	margin: 250px auto;
}
.co .header {
	border-bottom: solid 1px rgba(160, 160, 160, 0.3);
	height: 75px;
	position: relative;
}
.co .meta{
	border-left: 0;
	padding: 1.5em 0 0 1em;
}
.co .author{
	padding-left:0;
	font-size:20px;
}
.co .author>img{
	width: 1.5em;
}
.co .name{
	margin-left:10px;
}
.co #co-main button{
	background-color: #e4e4eb;
	border-radius:5px;
	font-size:13px;
	border:0;
	height:30px;
	text-align: center;
	line-height: 0;
	padding: 0 1.2em;
}
.co #main button{
	background-color: #e4e4eb;
	border-radius:5px;
	font-size:13px;
	border:0;
	height:30px;
	text-align: center;
	padding:10px;
}
.co #main .like{
	float: right;
}
.co #co-main .submitpost{
	display:none;	
}
.co #co-main .submitbutton{
	display:none;
	position: absolute;
	right: 77px;
	bottom: 10px;
}
.co #co-main .insertpost{
	position: absolute;
	right: 0;
	bottom: 10px;
}
.co #co-main .divtextarea{
	margin:20px 5px 15px 5px; 
	display:none;
}
.co #co-main #co-textarea{
	display:block; 
	margin-top: 20px;
}
.co .published{
	float: right; 
	margin-top:-7px;
}
.co .content{
	margin:20px;
}
.co .image>img{
	margin-bottom:20px;
	width:100%;
}

.co #co-main .footer{
	background-color: #fff; 
	margin:40px 0;
}
.co #main .footer{
	background-color: #fff; 
	margin-top:0;
}
.co+#st-main+footer{
	clear: both;
}
.co #co-main .row{
	margin-left: 0; 
	margin-bottom:20px;
}
.co #co-main .comments{
	 flex-direction: column;
}
.co #co-main .divcomment{
	display: none; 
	/* margin:0 10px 20px 10px; */
}
.co #main .divcomment, .ulcommentList{
	display: none; 
}
.co textarea{
	resize: none; 
	border: 1px solid #e4e4eb; 
	height:59px; 
}

.co #co-main .divtextarea{
	display:inline-block; 
	padding:0;
}

.co #co-main textarea+button{
	float: right;
	padding:0;
	margin : 15px 0;
}
.co .divname{
	width:50px; 
	display: inline-block;
}
.co .divcontent{
	width:200px; 
	display: inline-block;
}
.co #co-main .divtext{
	margin:0 10px 20px 10px;
}

.co #co-main #sidebar{
	float: left; 
	margin-right: 5em;
}
.co #co-main .menu{
	margin:10px 0;
} 
.co #co-main #sidebar_search button{
	padding: 0;
}
.co #co-main .lidiv{
	display: inline-block; 
	float: right; 
	margin-top: 30px; 
	font-size: 24px;
}
.co #co-main .divimg{
	display: inline-block;
}

.co #st-main :after{
	clear: both;
}


.co #co-main #sidebar_search>input{
	height: 50px; width: 150px;
}
.co #co-main .divlist{
	width: 200px;
}










