@charset "UTF-8";

/* html,body,div,span,applet,object,iframe,
h1 h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,
fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,
header,main,menu,nav,output,ruby,section,summary,
time,mark,audio,video{
   margin: 0; padding: 0; border: 0; font-size: 100%;
} */

#myprofile{
	min-width: 380px;
}
#myprofile .firstcontainer{
/* 	border: 1px solid gray; */
	padding-top:100px;
}


/* 상단이미지 */
#myprofile .topimg{
	border-bottom:1px solid lightgray;
	height: 208px;
	padding-top: 50px;
}
#myprofile .topimgdiv{
	height: 158px;
	
	background-color: #e6e9eb;
}

/* #img-topimgmodify{
	display: none;
	width: 100px;
	height: 100px;
	padding-top: 20px;
	position: relative;
    left: 490px;
    top: 40px;
	
} */


/* 상단 이미지 업로드 글씨 */
#myprofile #img-topimgmodify{
	display: none;
	padding-top: 85px;
	text-align: center;
	font-size: 30px;
	
}

#myprofile .seconddiv{
	min-height: 160px;
	height:flex;
	padding-top: 20px;
	
}
#myprofile .thriddiv{
	margin-top: 10px;
}

/* 프로필 이미지 */

#myprofile .profile{
	width: 120px;
	height: 120px;
	background-color: #edeff0;
	border: 4px solid #edeff0;
	border-radius: 50%;
	position: relative;
	left: 28px;
	top: -40px;
	justify-content: center;
	overflow: hidden;

}

#myprofile .nickname{
/* 	border: 1px solid lightgray; */
	height: 40px;
	padding-top: 3px;
	min-width: 80px;
	
	font-size: 24px;
    font-weight: 700;
    
    
}
#myprofile .fbtn,.sbtn{

}
#myprofile #buttonright{
	display: inline-block;
	border: 1px solid lightgray;
	width: 120px;
    height: 44px;
	padding-top: 10px;
	text-align: center;
}
.fakerow{
	height:15px;
}
.addressdiv{
	height: 30px;
	font-size: 17px;
	padding-top: 3px;
}
.addressdiv > a{
	text-decoration: none;
}



/* 프로필 수정 이미지 */
#myprofile .profileimgmodify{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 35px;
	top: 35px;
	display: none;	
}

#myprofile .navli{
	text-align: center;
	padding-top: 5px;
	width: 80px;
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	margin-right: 20px;
	border: 1px solid lightgray;
}

#myprofile .tab-content{
	height: 500px;
}

/* 이미지 업도르 */
#myprofile .image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#myprofile .button {
    display: flex;
    justify-content: center;
}

#myprofile label {
    cursor: pointer;
    font-size: 1em;
}

#myprofile #chooseFile {
    visibility: hidden;
}

#myprofile .fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myprofile .fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}

#myprofile #fileName {
    margin-left: 5px;
}

#myprofile .buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;

    cursor: pointer;
}

#myprofile .image-show {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#myprofile .img {
    position: absolute;
}

/* 모달 스타일링을 위한 CSS 코드 */
#myprofile .modal {
  display: none;
  position: absolute;
  z-index: 9999;
  left: 30em;
  top: 50px;
  width: 410px;
  height: 500px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
  border: 1px solid lightgray;
  border-radius: 10px;
}

#myprofile .mcontent {
  text-align:center;
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 300px;
  height: 460px;
  position: relative;
  top:10px;
  left:6.3px;
}

#myprofile .modalclose {
  color: #aaa;
  float: right;
  margin-right: 5px;
  font-size: 28px;
  font-weight: bold;
}

#myprofile .modalclose:hover,
.modalclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myprofile .modal-content form{
	text-align: center;
}



#myprofile .image-box {
	width: 200px;
	height: 200px;
	object-fit: cover;
	display: block;
	margin: 10px auto;
}
#myprofile .upload-btn {
	width: 90px;
	height: 10px;
	display: inline-block;
	cursor: pointer;
}
#myprofile input[type=file] {
	display: none;
}

#myprofile .writenew{
	text-align: right;
}

#myprofile #studio{
	text-align: right;
}
